body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff; /* Updated text color to white */
    background-color: #222222;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #d9b382;
}

.QUIZPAGE {
    width: 100%;
    height: 100%;
    background-color: #222222;
    color: white;
}
#bg{
    background-color: #222222;
}
.header {
    background-color: #222222;
    color: #d9b382;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .header-logo img {
    height: 50px; /* Applied height to the logo image */
} */

.header-nav {
    background-color: #222222;
    display: flex;
    align-items: center;
}

.header-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-menu li {
    margin-right: 1rem;
}

.header-menu a {
    color: #d9b382;
    text-decoration: none; /* Moved text-decoration to anchor tags */
}

.header-menu a:hover {
    color: #e6c09c;
}

.header-menu-icon {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #d9b382;
    transition: transform 0.3s ease;
}

@media (max-width: 768px) {
    .header-menu {
        display: none;
    }

    .header-menu-icon {
        display: block;
        cursor: pointer;
    }

    .bar:nth-child(1) {
        transform: translateY(6px);
    }

    .bar:nth-child(2) {
        opacity: 0;
    }

    .bar:nth-child(3) {
        transform: translateY(-6px);
    }
}

.button {
    display: inline-block;
    background-color: #d9b382;
    color: #33251b;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.button:hover {
    background-color: #e6c09c;
}

.question {
    margin-bottom: 20px;
}

.yesButton,
.noButton {
    background-color: #d9b382;
    border-radius: 2px;
}
.header-title {
    color: #d9b382; /* Gold color */
    font-size: 72px;
    margin-bottom: 10px;
.yesButton:active,
.noButton:active {
    background-color: greenyellow;
}
