

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  .contact-container {
    background-color: #444444;
    padding: 50px;
    text-align: right;
  }
  
  .contact-heading {
    font-size: 14px;
    text-align: left;
    color: #C9CE8C;
  }
  
  .contact-number {
    font-size: 14px;
    color: #C9CE8C;
  }
  
  .anything-to-say {
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
  }
  .comment-box {
    width: 500px;
    height: 200px;
    margin-bottom: 20px;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #C9CE8C;
    color: #222222;
    border: none;
    border-radius: 5px;
  }